{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zareen Tasnim</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<body>
    <br>
    <div class="container" >
        <div class="row" >
            <div class="col-md-3" >
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id='profile-pic' src ="{% static 'images/zareen.jpg' %}">
                    <hr>
                    <h4>Hi, I'm Zareen !</h4>
                    <p>I love coding, doing research and collaborating</p>
            </div>
                </div>
             <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                     <h4>My First Job as a freelancer!</h4>
                     <hr>
                     <p>I started my early work in my university life in 2019. My very first job was as Software Quality Assurance Engineer.
                        I have collaborated in many projects to assure their quality and make them bug free.</p>
                     <p>My first task was to test it manually, but I wanted something far more interesting, I wanted to prevent any sort of bugs
                         in the shortest possible time and get rid of the monotony of manual testing. That's when I grew my interest on automation testing.</p>
                     <p>I have worked with selenium using python and Robot framework. After that I have contributed with Playwright using Javascript.
                        As my thrust for coding and trying new things pop up, I started doing API testing through Automation and started loving coding.</p>
                    <ul class social-link>
                        </li>
                            <a href="mailto: zareennidhi.ruet@gmail.com">
                        <li><img class="social" src="{% static 'images/email.jpeg'%}">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/zareen-tasnim-474477196/">
                            <img class="social" src="{% static 'images/linkedin.png'%}">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.hackerrank.com/zareennidhi_ruet?hr_r=1">
                            <img class="social" src="{% static 'images/hackerrank.png'%}">
                            </a>
                        </li>
                            <a href="https://github.com/zareen-tasnim">
                        <li><img class="social" src="{% static 'images/github.png'%}">
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
            </div>
        <br>
         <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>What I Learned</h5>
                     <hr>
                     <p>Python, Django, Html, CSS, Javascript, Selenium, Robot Framework, Playwright, Postgress, API's such as Jira and
                     a whole bunch of thing I cant possibly mention in few lines!</p>
                </div>
            </div>
             <div class="col-md-6">
                <div class="card card-body h-100">

                     <h4>My Experience as a Developer</h4>
                    <hr>
                     <p>I started my development journey as a Python developer.</p>
                     <p>Designed,built and managed an ERP system as a developer and collaborated in refactoring code of some projects
                         under the supervision of senior developers.</p>
                </div>
            </div>
        </div>
        <br>
         <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>My Future Goals!</h4>
                     <hr>
                     <p>After working 1.5 years as a developer, I want to learn something new.</p>
                     <p>Aside from building small projects, I would love to enter a position where I can work in a bigger team & learn from others
                     who have more experience.</p>
                     <p>Rather than that, I have keen interest in research in the area of AI. </p>
                </div>
            </div>
             <div class="col-md-6">
                <div class="card card-body h-100">

                     <h4>My Way to Learning!</h4>
                     <hr>
                     <p>Before starting any task, my way of learning is to research and find out the best and efficient way to do it.
                     I am never satisfied with does it work or not, but does it work efficiently or not.</p>
                </div>
            </div>
        </div>

    </div>

</body>
</html>